h1, h2 {
    font-family: 'Renner*';
    color: #422F75;
}

header h1 {
    font-weight: bold;
}

#online-users img {
    height: 15%;
}

#feed-user-photo {
    height: 50%;
}

#feed-photo {
    height: 50%;
}