h1 {
    font-family: 'Renner*';
    color: #422F75;
}

form > div:first-child {
    height: 65vh;
}

.upload-modal a {
    text-decoration: none !important;
}

#locationSuggestions {
    position: relative;
    z-index: 1;
    background-color: white;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.suggestion {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.location-name {
    font-size: 1.2em;
    font-weight: bold;
}