
#page {
    height: 100vh;
    margin: 0px;
    z-index: 2000;
}

.upload-modal a {
    text-decoration: none !important;
}

#searchbutton {
    width: 100%;
}

#searchresults {
    overflow-y: hidden;
    border-width: 2px;
}


.result-profile-img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.result {
    font-size: 20px;
    align-items: center;
    margin-top: 1rem;
    font-weight: 600;
}
